<header class="header-container">
	<div class="wrap">	
		<img src="dist/img/marsbq_logo.png" alt="MarsBQ">
		<h1>MARSBQ</h1>
		<p>Join us for the first interplanetary BBQ</p>
		<h2>Saturday November 5, 2022</h2>
		<a class="btn" href="#">Register to Attend</a>
	</div>
</header>